<form [formGroup]="registerFormGroup">
  <ion-grid>
    <ion-row>
      <ion-col col-24 col-sm-16 offset-sm-4 col-lg-12 offset-lg-6>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="user.email" formControlName="email" placeholder="max.mustermann@mustermann.at z.B." type="email"></ion-input>
        <ion-label class="invalidText" *ngIf="invalidMarker && (!registerFormGroup.get('email').valid)">Email nicht korrekt</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-24 col-sm-16 offset-sm-4 col-lg-12 offset-lg-6>
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="user.name" formControlName="name" placeholder="Max z.B." type="name"></ion-input>
        <ion-label class="invalidText" *ngIf="invalidMarker && (!registerFormGroup.get('name').valid)">Username nicht korrekt</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-24 col-sm-16 offset-sm-4 col-lg-12 offset-lg-6>
        <ion-label>Passwort</ion-label>
        <ion-input [(ngModel)]="user.password" formControlName="password" placeholder="Passwort" [type]="user.showPassword?'text':'password'"></ion-input>
        <ion-label class="invalidText" *ngIf="invalidMarker && (!registerFormGroup.get('password').valid)">Passwort nicht korrekt</ion-label>
      </ion-col>
      <ion-col col-24 col-sm-16 offset-sm-4 col-lg-12 offset-lg-6>
        <ion-label>Passwort wiederholen</ion-label>
        <ion-input [(ngModel)]="user.passwordAgain" formControlName="passwordAgain" placeholder="Passwort wiederholen" [type]="user.showPassword?'text':'password'"></ion-input>
        <ion-label class="invalidText" *ngIf="invalidMarker && user.password != user.passwordAgain">Passwörter müssen übereinstimmen</ion-label>
      </ion-col>
      <ion-col col-24 col-sm-16 offset-sm-4 col-lg-12 offset-lg-6 class="checkboxCol">
        <ion-checkbox [(ngModel)]="user.showPassword" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        <ion-label>Passwort anzeigen?</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-24 col-sm-16 offset-sm-4 col-lg-12 offset-lg-6>
        <button ion-button class="standardBtn" full (click)="register()">Registrieren</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
