transaction-item {
  .row {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0,0, 0.08);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0,0, 0.08);
    box-shadow: 0px 0px 15px 0px rgba(0, 0,0, 0.08);
    padding: 15px;
     .toolbar-title {
        color: #637282;
        padding: 0;
       &:hover {
         cursor: pointer;
         color: #0070E0;
       }
     }
    .userTextCol {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .userText {
        white-space: normal;
        font-size: 1.25rem;
        color: #333333;
        font-weight: 500;
        display: block;
      }
      &.right  {
        justify-content: flex-end;
      }
    }
    .stateInfoLine {
      width: 100%;
      height: 3px;
    }
    .stateInfoText {
      display: block;
      margin-top: 10px;
      color: #9a8f99;
      font-weight: 600;
    }
    .icon {
      font-size: 2.4em;
      display: flex;
      justify-content: center;
    }

    .button {
      margin-top: 5px;
      height: 3rem;
    }
  }
}
